@tailwind base;
@tailwind components;
@tailwind utilities;



@media screen and (max-width: 1068px) {
    .home-man {
        display: none !important ;
    }
    .nav-links {
        flex-direction: column !important;
        gap: 2rem !important;
        position: absolute !important;
        top: -15rem !important;
    }
    .contact-btn {
        display: none !important;
    }
    .hero-content {
        margin: 1rem !important;
    }

    .hero-content > .maintxt {
        font-size: 2.5rem !important;
        line-height: 45px !important;
    }

    .nav {
        padding: 1.5rem 2rem !important;
    }

    #home {
        padding-top: 16.5rem !important;
    }

    .buttons > button {
        width: 135px !important;
        font-size: .8rem !important;
        padding: .5rem .5rem !important;
    }

    .sndbutton {
        width: 135px !important;
        padding: 4px 0 0rem 0rem !important;
        text-align: center !important;
        font-size: .9rem !important;
    }

    .desc {
        font-size: 80% !important;
        opacity: 50% !important;
    }
    
}

@media screen and (max-width: 768px) {
    .section-heading {
        font-size: 1rem !important;
    }
    .section-slogan {
        font-size: 2rem !important;
        margin-top: 0 !important;
    }
    .section-desc {
        font-size: .7rem !important;
        width: 30rem !important;
    }
    .services {
        flex-direction: column !important;
    }
    .service {
        width: 18rem !important;
        margin:  2rem auto !important;
    }
    .service > img {
        width: 5rem !important;
    }
    .service-heading {
        font-size: 20px !important;
    }
    .service-desc {
        font-size: 12px !important;
    }
}




/* style.css | http://localhost:5500/styles/style.css */




  