@tailwind base;
@tailwind components;
@tailwind utilities;



@media screen and (max-width: 1068px) {
    .home-man {
        display: none !important ;
    }
    .nav-links {
        flex-direction: column !important;
        gap: 2rem !important;
        position: absolute !important;
        top: -15rem !important;
    }
    .contact-btn {
        display: none !important;
    }
    .hero-content {
        margin: 1rem !important;
    }

    .hero-content > .maintxt {
        font-size: 2.5rem !important;
        line-height: 45px !important;
    }

    .nav {
        padding: 1.5rem 2rem !important;
    }

    #home {
        padding-top: 16.5rem !important;
    }

    .buttons > button {
        width: 135px !important;
        font-size: .8rem !important;
        padding: .5rem .5rem !important;
    }

    .sndbutton {
        width: 135px !important;
        padding: 4px 0 0rem 0rem !important;
        text-align: center !important;
        font-size: .9rem !important;
    }

    .desc {
        font-size: 80% !important;
        opacity: 50% !important;
    }

    #about {
        padding: 2rem 0;
    }

    .about-man {
        display: none !important;
    }

    .about-div {
        width: auto !important;
    }

    .about-btn {
        margin: 1rem auto !important;
        font-size: .8rem !important;
        padding: 10px 7px 7px 7px !important;
        width: 7rem !important;
        text-align: center !important;
        font-weight: 500 !important;
    }

    .team {
        padding: 8rem 0 !important;
    }

    .section-head {
        width: 34rem !important;
    }

    .team-div {
        flex-direction: column !important;
    }

    .team-member {
        margin: 1rem auto !important;
        height: 20rem !important;
    }

    .team-member > img {
        width: 70% !important;
        margin: 0 auto !important;
    }

    .member-name {
        font-size: 1rem !important;
    }

    .member-pos {
        font-size: .7rem !important;
    }

    .member-card {
        width: 12rem !important;
        left: 3.7rem !important;
    }

    

    
}



   

@media screen and (max-width: 768px) {
    .section-heading {
        font-size: 1rem !important;
        text-align: center !important;
    }
    .section-slogan {
        font-size: 2rem !important;
        margin-top: 0 !important;
        text-align: center !important;
    }
    .section-desc {
        font-size: .7rem !important;
        width: 30rem !important;
        text-align: center !important;
        margin: 1rem auto !important;
    }
    .services {
        flex-direction: column !important;
    }
    .service {
        width: 18rem !important;
        margin:  2rem auto !important;
    }
    .service > img {
        width: 5rem !important;
    }
    .service-heading {
        font-size: 20px !important;
    }
    .service-desc {
        font-size: 12px !important;
    }
}





  