@tailwind base;
@tailwind components;
@tailwind utilities;



@media screen and (max-width: 1068px) {
    .home-man {
        display: none;
    }
    .nav-links {
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: -15rem;
    }
    .contact-btn {
        display: none;
    }
    .hero-content {
        margin: 1rem;
    }

    .hero-content > .maintxt {
        font-size: 2.5rem;
        line-height: 45px;
    }

    .nav {
        padding: 1.5rem 2rem;
    }

    #home {
        padding-top: 16.5rem;
    }

    .buttons > button {
        width: 135px;
        font-size: .8rem;
        padding: .5rem .5rem;
    }

    .sndbutton {
        width: 135px;
        padding: 4px 0 0rem 0rem;
        text-align: center;
        font-size: .9rem;
    }

    .desc {
        font-size: 80%;
        opacity: 50%;
    }
    
}

@media screen and (max-width: 640px) {
    .section-heading {
        font-size: 1rem;
    }
    .section-slogan {
        font-size: 2rem;
        margin-top: 0;
    }
    .section-desc {
        font-size: .7rem;
        width: 30rem;
    }
}




/* Element | http://localhost:5500/ */

div.justify-evenly:nth-child(4) {
    flex-direction: column;
  }
  
  /* Inline #0 | http://localhost:5500/ */
  
  .w-\[20rem\] {
    /* width: 20rem; */
    width: fit-content;
  }
  
  /* Element | http://localhost:5500/ */
  
  div.justify-center:nth-child(2) {
    margin: 5rem;
  }
  
  /* Element | http://localhost:5500/ */
  
  div.justify-center:nth-child(2) > img:nth-child(1) {
    width: 5rem;
  }
  
  /* Element | http://localhost:5500/ */
  
  div.justify-center:nth-child(2) > p:nth-child(2) {
    font-size: 20px;
  }
  
  /* Element | http://localhost:5500/ */
  
  div.justify-center:nth-child(2) > p:nth-child(3) {
    font-size: 12px;
  }
  